body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-color: wheat;
}
#buttonBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.btn{
    margin: 10px;
    background-color:rgba(0, 0, 0, 0);
    border:3px solid black;
    font-size: 16px;
    padding: 14px 28px;
    border-radius: 10px;
    cursor: pointer;
}
.btn:hover{
    background-color: black;
    color: white;
}
p{
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}